{
    "server_domain": "doepmusic.com",
    "servers": [
        {"url": "live.twitch.tv:1935/app", "stream_key": "live_501282413_YE2lbbG41Gwfcidv8B25DsiQlsOLSm"}
    ],
    "test_servers": [
        {"url": "live.twitch.tv:1935/app", "stream_key": "live_501282413_YE2lbbG41Gwfcidv8B25DsiQlsOLSm?bandwidthtest=true"}
    ],
    "storage": {
        "s3_bucket_name": "streaming-server-streams",
        "aws_access_key_id": "AKIA2TOS6ONMN2PHZHAA",
        "aws_secret_access_key": "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"
    }
}