{
    "server_domain": "example.com",
    "live_rtmp_servers": [
        {"url": "live.twitch.tv:1935/app", "stream_key": "live_abc123"}
    ],
    "test_rtmp_servers": [
        {"url": "live.twitch.tv:1935/app", "stream_key": "live_abc123?bandwidthtest=true"}
    ],
    "storage": {
        "s3_bucket_name": "my-bucket-name",
        "aws_access_key_id": "xxxxxxxxxxxxxxxxxx",
        "aws_secret_access_key": "yyyyyyyyyyyyyyyyyyyyyyy"
    }
}
